* {
    box-sizing: border-box;
}

body {
    background-image: url("https://i.imgur.com/JZVkq1R.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Casino Flat", sans-serif;
    color: white;
    display: grid;
}