* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    background-image: url("https://i.imgur.com/JZVkq1R.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    font-family: "Casino Flat", sans-serif;
    color: white;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10vmin auto;
    flex-direction: column;
    width: 100%;
    margin-bottom: -15vmin;
}

#bJ {
    font-size: 8vmin;
    margin-top: -4vmin;
}

#msg {
    font-size: 5vmin;
    margin-top: 3vmin;
}

/* COME BACK TO SIZING THE TITLES IN A BIT */
#dCardbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vmin;
    height: 25vmin;
}

#pCardbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40vmin;
    height: 25vmin;
}

#pBorderBox, #dBorderBox {
    display: flex;
    flex-direction: row;
    border: solid 1vmin;
    border-color: white;
    border-radius: 10px;
    margin-left: 5vmin;
    margin-right: -53vmin;
    flex-wrap: wrap;
    width: 38vmin;
    height: 43vmin;
}

#dHand {
    width: 100%;
    margin-left: 87vmin;
    font-size: 2vmin;
}

#pHand {
    width: 50%;
    margin-right: -67vmin;
    font-size: 2vmin;
}

#pcards, #dcards {
    width: 100%;
    margin-left: 3vmin;
}

#p-score, #d-score {
    border: solid 1vmin;
    border-color: white;
    border-radius: 10px;
    height: 6vmin;
    width: 11vmin;
    text-align: center;
    margin-bottom: -40vmin;
    margin-left: 13vmin;
}

#bothBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 13vmin;
    padding: 9vmin;
}

#buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -11vmin;
    margin-bottom: -20vmin;
}

button {
    justify-self: center;
    width: 22vmin;
    margin: auto;
    background-color: lightpink;
    color: purple;
    border: .5vmin solid purple;
    border-radius: 4vmin;
    font-size: 4vmin;
    outline: none;
}

button:hover {
    background-color: purple;
    color: lightpink;
}

#playBtn {
    justify-content: center;
    align-items: flex-start;
}
