* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    background-image: url("https://i.imgur.com/JZVkq1R.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "Casino Flat", sans-serif;
    color: white;
    display: grid;
}

main {
    display: grid;
    grid-template-columns: 35vmin 15vmin 35vmin;
    grid-template-rows: 10vmin 10vmin 35vmin 15vmin;
    justify-content: center;
    align-items: center;
}

/* COME BACK TO SIZING THE TITLES IN A BIT */
h1 {
    font-size: 5vmin;
}

h2 {
    font-size: 3vmin;
}

/* main *{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#p-score, #d-score {
    border: 2vmin solid white;
    border-radius: 5vmin;
    width: 100%;
    padding: 2vmin;
}

button {
    justify-self: center;
    width: 15vmin;
    margin: 2vmin;
    background-color: lightpink;
    color: purple;
    border: 1vmin solid black;
    border-radius: 4vmin;
    font-size: 4vmin;
    outline: none;
}

#pcards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dcards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#playerCard1 {
    height: 800px;
    width: 600px;
}

#playerCard2 {
    height: 800px;
    width: 600px;
    
}

button:hover {
    background-color: purple;
    color: lightpink;
}

#dealerCard1 {
    height: 800px;
    width: 600px;
}

#dealerCard2 {
    height: 800px;
    width: 600px;
}